.productContainer{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 140px);
}
.productContainer .productItem{
    border: 1px solid gainsboro;
    padding: 2px;
}
.productContainer .productItem .productImage{
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.productItem .title{
    font-size: 13px;
    text-align: center;
    margin: 0 2px;
}
.productItem .productPrice{
    font-size: 13px;
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
}
.productItem .productPrice div{
    display: inline-block;
    width: 50%;
}
.productItem .productAction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2px;
}
.productItem .productAction div{
    display: inline-block;
    width: 30%;
    padding: 0;
    font-size: 10px;
}